<p></p>
<h1 class="center">About Me</h1>
<h2>Introduction:</h2>
<p>
My name is Anuben Keshavala. You can call me Anu. I completed my bachelor in commerce at Saurastra University, India. Now, i am a student of the Software Engineering Technology Program at Centennial College. This is my Third Semester.</p>
<h6><a href="public/PDF/Resume.pdf"><font color="Steelblue"><b>Link for the Resume</b></font></a></h6>
  
<p></p>
  <img src="public/images/Anila.png" alt="Image" width="300" height="280">
