<p></p>
<h1 class="center">About Me</h1>
<h2>Introduction:</h2>
<p class="lead" >
My name is Anuben Keshavala. You can call me Anu. I completed my bachelor in commerce at Saurastra University, India. Now, i am a student of the Software Engineering Technology Program at Centennial College. This is my Fourth Semester running.</p>
<a href="public/PDF/Application Programmer - Resume.pdf"><p class="lead"><b>Link for the Resume</b></p></a>
  
<p></p>
  <img src="public/images/Anila.png" alt="Image" width="300" height="280">
