<body>
    <div class="content">
        <h1>Welcome to the Web Application Development Home Page!</h1>
        <p></p>
    
        <h2 >Mission Statement:</h2>

        <p class="lead">My mission is to deliver the best possible reliable software solutions to help the communities to improve IT efficiency and business profitability.</p>
        
        
        
        <h2>Favourite Quote:</h2>

        <p class="lead">" You may never know what results come of your actions, but if you do nothing, there will be no results. " ~ Mahatma Gandhi</p>
        <p>
        
            <a href="/about"><button class="btn btn-primary btn-lg home" id="button1"> About Page </button></a>
        
        </p>

    </div>    
</body>