<body>
    <div class="content">
        <h1>Welcome to the Web Application Development Home Page!</h1>
        <p></p>
    <h2 >Mission Statement:</h2>
        <p>My mission is to deliver the best possible reliable software solutions to help the communities to improve IT efficiency and business profitability.</p>
        <h2>Favourite Quote:</h2>
        <p>" You may never know what results come of your actions, but if you do nothing, there will be no results. " ~ Mahatma Gandhi</p>
        <p>
        <button class="active"><a href="/about">About Page</a></button>
        </p>

    </div>    
</body>