        <h1 align="center">Products</h1>
        <p></p>
        <h2> Project 1 - Mobile Application Development </h2>
        <p class="lead"> I have buid an orientation mobile application for medical learners of Etobicoke General Hospital. I have used android studio environment and Java as a programming language. The key Deliverables of the app are following: 
                
                	<li>Participated in mobile development phases like Designing, Enhancements, Bug-fixing and maintenance of the Application. </li>
                	<li>Android application development using Java, XML, JSON, SQLite and Fragments.</li>
                	<li>Focused on implementing rich user interface per UI/UX.</li>
                	<li>Maintain the supporting screen orientations (landscape and portrait).</li>
                	<li>Designed efficient UI using VideoView and ReceylerView.</li> 
        </p>  
        <p class="lead">Below are the Images of the App:</p>     
        <div class="row"> 
                <div class="column">
                <img src="public/images/Home Page.jpg" alt="home page " style="width:100%">
                </div>
                <div class="column">
                <img src="public/images/Navigation Drawer.jpg" alt="navigation drawer" style="width:100%">
                </div>
                <div class="column">
                <img src="public/images/Notes.jpg" alt="notes" style="width:100%">
                </div> 
        </div>        
        <h2>Project 2 - Real Estate Services</h2> 
        <p class="lead">In this part of the project, my aim is to provide the detail information of the project that i have completed. In this page, i am going to provide the projects that i have completed. Thes projects are fully completed by me. So, here, i am going to provide the link of the projects and the tasks that i completed.</p>
        <img src="public/images/Project1.png" class="left" alt="Project 1" width="1000" height="450">
        <p></p><p></p>
        <h2>Project 3 - Spiner</h2> 
        <p class="lead">I made the Spinner Machine in my 2 semester as a part of my assignment. I used TypeScript and JavaScript to implement the functionality of the game. </p>
        <img src="public/images/Game.png" class="left" alt="Project 2" width="1000" height="450"> 
        <p></p>
        <h2>Project 4 - Dice Roller</h2> 
        <p class="lead"> I also made the dice roller using the javascript in my course COMP125-Web application development. As you can see when you press the roll button you can roll the two different dices and it will give the result that what you got. </p> 
        <img src="public/images/Diceroller.png" class="left" alt="Project 3" width="1000" height="450">
        