        <h1 align="center">Products</h1>
        <p></p>
        <h2>Project1 - Real Estate Services</h2> 
        <p>In this part of the project, my aim is to provide the detail information of the project that i have completed. In this page, i am going to provide the projects that i have completed. Thes projects are fully completed by me. So, here, i am going to provide the link of the projects and the tasks that i completed.</p>
        <img src="public/images/Project1.png" class="left" alt="Project 1" width="1000" height="450">
        <p></p><p></p>
        <h2>Project2 - Spiner</h2> 
        <p>I made the Spinner Machine in my 2 semester as a part of my assignment. I used TypeScript and JavaScript to implement the functionality of the game. </p>
        <img src="public/images/Game.png" class="left" alt="Project 2" width="1000" height="450"> 
        <p></p>
        <h2>Project3 - Dice Roller</h2> 
        <p>I also made the dice roller using the javascript in my course COMP125-Web application development. As you can see when you press the roll button you can roll the two different dices and it will give the result that what you got. </p> 
        <img src="public/images/Diceroller.png" class="left" alt="Project 3" width="1000" height="450">
        